<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_estate_root"
          name="Real Estate"
          sequence="10"/>
    <menuitem id="menu_estate_advertisements"
          name="Advertisements"
          parent="menu_estate_root"
          sequence="10"/>
    <menuitem id="menu_estate_property"
          name="Property"
          parent="menu_estate_advertisements"
          sequence="10"/>
    <menuitem id="menu_estate_ownership"
          name="Ownership"
          parent="menu_estate_advertisements"
          sequence="10"/>



</odoo>